:root {
    /* colors */
    --background: hsla(186, 72%, 24%, 1); 
    --isoText: hsla(0, 98%, 69%, 1);
    --cardButton: hsla(214, 100%, 94%, 1);
    --button: hsla(182, 100%, 35%, 1);
    --footerBackground: hsla(186, 80%, 32%, 1);
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-text {
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .navbar-text {
        font-size: 22px;
    }
}

/* GO TO THE TOP BUTTON */
.go-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--background);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  .go-to-top-button:hover {
    background-color: #0056b3;
  }
  

/* NAVBAR */
header {
	display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 0 2rem;
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header img {
    height: 100px;
    width: auto;
}

nav .link {
	margin: 0 1rem;
	color: black;
    font-weight: 700;
	text-decoration: none;
    font-size: 26px;
}

nav .active-link {
    background-color: var(--background); 
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: black;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--background);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
        color: white;
	}

	nav .link {
		font-size: 1.5rem;
        color: white;
	}
}

/* HERO */
.hero {
    background-color: var(--background);
    background-image: url('../images/hero-bg\ 1.png');
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat; 
}

.hero .hero-box {
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero .hero-text {
    font-size: 85px;
    font-weight: 700;
}

.hero .hero-slogan {
    color: white;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
}

.hero .hero-ISO {
    color: var(--isoText);
    font-size: 48px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .hero .hero-box {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .hero .hero-text {
        font-size: 40px; 
        text-align: center; 
    }

    .hero .hero-slogan {
        font-size: 24px; 
        text-align: center; 
    }

    .hero .hero-ISO {
        font-size: 24px; 
        text-align: center; 
    }
}


/* SERVICES - HOME */
.services-home .services-pretext {
    color: var(--background);
    font-size: 32px;
}

.services-home .service-home-text {
    font-size: 75px;
    font-weight: 700;
    text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
}

.services-home .services-home-card {
    background-color: var(--cardButton);
    padding: 60px;
    border-radius: 20px;
    box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.services-home .button {
    background-color: var(--button); 
    padding: 10px 20px;
    font-size: 20px;
    width: 200px;
    font-weight: 700;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .services-home .services-pretext {
        font-size: 20px;
        text-align: center;
    }

    .services-home .services-home-text {
        font-size: 20px; 
        text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .services-home .services-home-card {
        padding: 30px; 
        border-radius: 15px;
        box-shadow: 4px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }

    .services-home .button {
        padding: 8px 16px; 
        font-size: 18px; 
        width: 180px; 
        border-radius: 15px; 
    }
} 

/* WHY CHOOSE US? - HOME */
.about-home {
    background-color: var(--cardButton);
}

.about-home .about-home-pretext {
    color: var(--background);
    font-size: 32px;
}

.about-home .about-home-text {
    text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 75px;
    font-weight: 700;
}

.about-home .about-home-description {
    font-size: 24px;
    text-align: justify;
    font-weight: 400;
}

@media(max-width: 768px) {
    .about-home .about-home-pretext {
        padding-top: 5px;
        font-size: 24px;
        text-align: center;
    }

    .about-home .about-home-text {
        font-size: 28px;
        text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .about-home .about-home-description {
        font-size: 18px;
        text-align: left;
    }
}

/* OUR DOCTORS - HOME */
.doctor-home .doctor-home-pretext {
    color: var(--background);
    font-size: 32px;
    text-align: center;
}

.doctor-home .doctor-home-text {
    text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 75px;
    font-weight: 700;
    text-align: center;
}

.doctor-home .doctor-home-image {
    width: 493px;
    height: 513px;
}

.doctor-home .doctor-home-name {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}

.doctor-home .doctor-home-title {
    color: var(--background);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.doctor-home .button {
    background-color: var(--button); 
    padding: 10px 20px;
    font-size: 20px;
    width: 200px;
    font-weight: 700;
    border-radius: 20px;
}

@media(max-width: 768px) {
    .doctor-home .doctor-home-pretext {
        padding-top: 5px;
        font-size: 24px;
        text-align: center;
    }

    .doctor-home .doctor-home-text {
        font-size: 38px;
        text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .doctor-home .doctor-home-image {
        height: 413px;
    }

    .doctor-home .doctor-home-name {
        font-size: 33px;
    }
}

/* CONTACT - HOME */
.contact-home .contact-home-pretext {
    color: var(--background);
    font-size: 32px;
    text-align: center;
}

.contact-home .contact-home-text {
    text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 75px;
    font-weight: 700;
    text-align: center;
}

.contact-home .contact-home-card {
    background-color: var(--cardButton);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-home .contact-home-card .contact-home-title {
    font-size: 32px;
}


.contact-home .contact-home-card .contact-home-description {
    font-size: 22px;
    color: var(--background);
    font-weight: 400;
}

@media(max-width: 768px) {
    .contact-home .contact-home-pretext {
        padding-top: 5px;
        font-size: 24px;
        text-align: center;
    }

    .contact-home .contact-home-text {
        font-size: 38px;
        text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .contact-home .contact-home-card .contact-home-title {
        font-size: 24px;
    }

    .contact-home .contact-home-card .contact-home-description {
        font-size: 18px;
    }
}

/* ABOUT US PAGE */

.about-us {
    background-color: var(--background);
    background-image: url("../images/footer-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-us .about-us-text {
    color: white;
    font-size: 96px;
    font-weight: 700;
    text-align: center;
}

.about-us-description {
    font-size: 20px;
    text-align: justify;
}

.meet-our-doctor {
    text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 75px;
    font-weight: 700;
    text-align: center;
}

.doctor-name {
    font-size: 40px;
    font-weight: 700;
}

.doctor-title {
    color: var(--background);
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

.doctor-description {
    text-align: justify;
    font-size: 18px;
    padding-bottom: 10px;
}

.logo-box {
    display: flex;
    gap: 10px;
}

.logo-box .doctor-symbol {
    width: 30px;
    height: 30px;
}

.logo-box a {
    color: var(--background);
    font-size: 20px;
    font-weight: 700;
}

.specialist-text {
    font-size: 32px;
    font-weight: 700;
}

.specialist-card {
    background-color: var(--cardButton);
    width: 378px;
    height: 95px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.specialist-card .specialist-card-text {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 768px) {
    .meet-our-doctor {
        font-size: 38px;
        text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .doctor-name {
        font-size: 26px;
        text-align: center;
    }

    .doctor-title {
        font-size: 22px;
        text-align: center;
    }

    .specialist-card {
        width: 278px;
        height: 100px;
    }

    .specialist-card .specialist-card-text {
        font-size: 16px;
    }
}

/* SERVICES PAGE */
.services {
    background-color: var(--background);
    background-image: url("../images/footer-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.services-text {
    color: white;
    font-size: 96px;
    font-weight: 700;
    text-align: center;
}

.category-box {
    border-radius: 20px;
    background-color: var(--cardButton);
    box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

.category-button.selected {
    background-color: hsla(182, 100%, 35%, 1);
    padding: 10px 50px;
    border-radius: 20px;
}

.category-button {
    font-size: 28px;
    font-weight: 700;
}

.service-card {
    padding: 60px;
    background-color: var(--cardButton);
    border-radius: 20px;
    box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.service-card .service-card-text {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}

.service-card .service-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-card .service-card-button button {
    background-color: var(--button);
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .services-text {
        font-size: 48px;
    }

    .category-box {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .category-button {
        padding: 10px 30px;
        font-size: 22px; 
    }

    .grid {
        grid-template-columns: 1fr; 
    }

    .service-card {
        padding: 30px; 
    }

    .service-card .service-card-text {
        font-size: 22px; 
    }

    .service-card .service-card-button button {
        padding: 8px 20px;
        font-size: 18px; 
    }
}

/* PROGRAMS PAGE */
.programs {
    background-color: var(--background);
    background-image: url("../images/footer-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.programs .programs-text {
    color: white;
    font-size: 96px;
    font-weight: 700;
    text-align: center;
}

.programs-card {
    background-color: var(--cardButton) !important;
    border-radius: 20px !important;
    margin: auto;
}

.programs-card .programs-name {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.programs-card .programs-button {
    background-color: var(--button);
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    display: block;
    margin: 10px auto 0;
}

@media (max-width: 767px) {
    .programs .programs-text {
        font-size: 48px;
    }

    .programs-card {
        max-width: 100%;
        margin: 0 auto 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .programs-card .programs-name {
        font-size: 18px;
    }

    .programs-card img {
        height: auto;
    }

    .modal {
        width: 90%;
    }

    .modal-overlay {
        padding: 20px;
    }

    .modal .modal-title {
        font-size: 24px;
    }

    .modal p {
        font-size: 16px;
    }

    .modal button {
        width: 100%;
        font-size: 18px;
        padding: 10px;
    }
}

/* SOCIAL WORK PAGE */
.social-work {
    background-color: var(--background);
    background-image: url("../images/footer-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.social-work-text {
    color: white;
    font-size: 96px;
    font-weight: 700;
    text-align: center;
}

.news-channel-content .news-channel-description {
    font-size: 20px;
    text-align: justify;
}

.news-channel-content .news-channel-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.news-channel-content .news-channel-box .news-channel-button {
    background-color: var(--button);
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.category-box {
    border-radius: 20px;
    background-color: var(--cardButton);
    box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

.category-button.selected {
    background-color: hsla(182, 100%, 35%, 1);
    padding: 10px 50px;
    border-radius: 20px;
}

.category-button {
    font-size: 28px;
    font-weight: 700;
}

.social-work-card {
    background-color: var(--cardButton) !important;
    border-radius: 20px !important;
    margin: auto;
}

.social-work-card .social-work-card-text {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.social-work-card .social-work-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-work-card .social-work-card-button button {
    background-color: var(--button);
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    display: block;
    margin: 10px auto 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .social-work-text {
        font-size: 48px;
    }

    .category-box {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .category-button {
        padding: 10px 30px;
        font-size: 22px; 
    }

    .grid {
        grid-template-columns: 1fr; 
    }

    .social-work-card {
        padding: 30px; 
    }

    .social-work-card .social-work-card-text {
        font-size: 22px; 
    }

    .social-work-card .social-work-card-button button {
        padding: 8px 20px;
        font-size: 18px; 
    }
}


/* CONTACT US PAGE */
.contact-us {
    background-color: var(--background);
    background-image: url("../images/footer-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-us .contact-us-text {
    color: white;
    font-size: 96px;
    font-weight: 700;
    text-align: center;
}

.contact-card {
    background-color: var(--cardButton);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-card .contact-title {
    font-size: 32px;
}

.contact-card .contact-description {
    font-size: 22px;
    color: var(--background);
    font-weight: 400;
}

.google-map {
    width: 100%;
    height: 680px;
}


@media (max-width: 768px) {
    .contact-us-text {
        font-size: 48px; 
    }

    .contact-card {
        padding: 15px; 
        box-shadow: 4px 2px 2px 0px rgba(0, 0, 0, 0.25); 
    }

    .contact-card .contact-title {
        font-size: 24px; 
    }

    .contact-card .contact-description {
        font-size: 18px;
    }
}


/* FOOTER */
.footer {
    background-color: var(--background);
    background-image: url("../images/footer-bg.png");
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat; 
}

.footer-box {
    background-color: var(--button);
    padding: 30px;                 
    border-radius: 20px;
    max-width: 1125px;             
    width: 100%;                   
    margin: 0 auto;                        
}

.footer .footer-text {
    font-size: 48px;
    color: white;
}

.footer .footer-title {
    font-size: 24px;
    color: white;
}

.footer .footer-box .footer-contact {
    display: flex;
    gap: 10px;
}

.footer .footer-box .footer-contact .footer-logo {
    width: 40px;
    height: 40px;
    color: white;
}

.footer .footer-box .footer-contact .footer-description {
    font-size: 22px;
    color: white;
}

.footer .footer-bigText {
    font-size: 32px;
    color: white;
    font-weight: 700;
}

.footer .footer-smallText {
    color: white;
    font-size: 20px;
}


.footer .footer-base {
    font-size: 24px;
    color: white;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 768px) {
    .footer .footer-text {
        font-size: 32px;
    }

    .footer .footer-title {
        font-size: 18px;
        padding-bottom: 5px;
    }

    .footer .footer-box .footer-contact {
        display: block;
        padding-top: 5px;
    }

    .footer .footer-box .footer-contact .footer-logo {
        width: 30px;
        height: 30px;
    }

    .footer .footer-box .footer-contact .footer-description {
        font-size: 14px;
    }
}

/* MODAL */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.modal h2 {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
}
  
.modal p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

.modal button {
    background-color: var(--button);
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
}